.content__container {
  overflow: hidden;
  height: 40px;
}

.content__container__list {
  list-style: none;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.content__container__list__item {
  margin: 0;
  line-height: 40px;
}
@keyframes change {
  0%, 100% { transform: translate3d(0, 0, 0); }
  33.33% { transform: translate3d(0, -33.33%, 0); }
  66.66% { transform: translate3d(0, -66.66%, 0); }
}